	 		img{
        width: 930px;
        height: 500px;
      }

  	 	table{
  	 		width: 70%;
  	 		border: 1px solid black;
  	 		border-spacing: 5px;
  	 		border-radius: 10px;
  	 	}
  	 	td {
  	 		padding: 5px;
   			text-align: left;  


  	 	}
  	 	button{
        width: 50%;
        height: 70%;
  	 		background:  #00e6e6;
  	 		padding: 10px;
  	 		border-radius: 10px;
  	 	}