.red
{
    color: red;
}

.form-dk
{
    border: 1px solid #D7D7D7;
    border-radius: 4px ;
    padding: 15px 15px;
    box-sizing: border-box;
    width:80% ;
}
.col-md-kc
{
    margin-top: 40px;
   margin-bottom: 40px;
    margin-left: 40px;
}


.col-kc
{
    padding: 15px 12px;
}

.btn-info
{
    width: 80%;
}

.error
{
    width:92%;
    margin:0px auto;
    padding: 10px;
    border:1px solid #a94442;
    color:#a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: center;


}